@using Eventive.Models.Events
@model RemoveEventViewModel

<input type="hidden" asp-for="Id" />

<div class="text-center">
    <h3>Are you sure you want to delete the event "@Model.EventName"?</h3>
</div>