@using Eventive.Models.Events;
@model EventListViewModel;
@{
    ViewData["Title"] = "Events";
}

<div class="d-flex justify-content-around m-xl-5">
    <input id="searchTitleBar" class="form-control search-bar col-3 mr-4" type="text" placeholder="Search by name" aria-label="Search">
    <input id="searchLocationBar" class="form-control search-bar col-3 mr-4" type="text" placeholder="Search by location" aria-label="Search">

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <button class="btn createButton ml-3" data-toggle="modal" data-target="#newEventModal">Create</button>
        </div>
    }
</div>

<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" onclick="searchByCategory('')">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="searchByCategory('Entertainment')">Entertainment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="searchByCategory('Education')">Education</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="searchByCategory('Hangout')">Hangout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="searchByCategory('Networking')">Networking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="searchByCategory('Other')">Other</a>
        </li>
    </ul>
</div>

<hr />

<div id="eventContainer"></div>

@section Scripts {
    <partial name="_ScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            loadEvents();
        });

        function loadEvents() {
            loadServerPartialView("#eventContainer", '@Url.Action("EventContainer", "Event")');
        }

        function modalFormComplete(modalName) {
            $(modalName).modal("hide");
            loadEvents();
        }
    </script>
}