@using PAWEventive.Models.Users;
@model EditProfileViewModel

<input type="hidden" asp-for="Id" />

<div class="form-group">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" type="text" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" type="text" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

<div>
    <label asp-for="ProfileImage"></label>
    <input asp-for="ProfileImage" type="file" />
</div>

<div class="form-group">
    <label asp-for="Country"></label>
    <input asp-for="Country" type="text" class="form-control" />
    <span asp-validation-for="Country" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="City"></label>
    <input asp-for="City" type="text" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PhoneNo"></label>
    <input asp-for="PhoneNo" type="tel" class="form-control" />
    <span asp-validation-for="PhoneNo" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" type="email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LinkToSocialM"></label>
    <input asp-for="LinkToSocialM" type="text" class="form-control" />
    <span asp-validation-for="LinkToSocialM" class="text-danger"></span>
</div>