@using PAWEventive.Models.Events;
@using PAWEventive.Models.Users;

<form method="post" asp-controller="Event" asp-action="Apply"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#applyModal')"
      data-ajax-mode="replace"
      data-ajax-update="#applyBody">

    <div class="modal fade" style="margin-top:10rem" id="applyModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 60%">
                <div class="modal-body" id="applyBody">
                    @await Html.PartialAsync("~/Views/Event/_ApplyToEventPartial.cshtml", new ApplyToEventViewModel())
                </div>
            </div>
        </div>
    </div>
</form>


<form enctype="multipart/form-data" method="post" asp-controller="Event" asp-action="NewEvent"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#newEventModal')"
      data-ajax-mode="replace"
      data-ajax-update="#newEventBody">

    <div class="modal fade" id="newEventModal" tabindex="-1" aria-labelledby="newEventTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 70%">
                <div class="modal-header">
                    <h5 class="modal-title" id="newEventTitle">Create a new event!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="newEventBody">
                    @await Html.PartialAsync("~/Views/Event/_AddEventPartial.cshtml", new NewEventViewModel())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form enctype="multipart/form-data" method="post" asp-controller="Event" asp-action="Edit"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#editEventModal')"
      data-ajax-mode="replace"
      data-ajax-update="#editEventBody">

    <div class="modal fade" id="editEventModal" tabindex="-1" aria-labelledby="editEventTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 70%">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEventTitle">Edit your event</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="editEventBody">
                    @await Html.PartialAsync("~/Views/Event/_EditEventPartial.cshtml", new EditEventViewModel())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form enctype="multipart/form-data" method="post" asp-controller="Profile" asp-action="EditProfile"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="updateProfileComplete('#editProfileModal')"
      data-ajax-mode="replace"
      data-ajax-update="#editProfileBody">

    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 70%">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileTitle">Edit your profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="editProfileBody">
                    @await Html.PartialAsync("~/Views/Profile/_EditProfilePartial.cshtml", new EditProfileViewModel())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form method="post" asp-controller="Event" asp-action="Remove"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#removeEventModal')"
      data-ajax-mode="replace"
      data-ajax-update="#removeEventBody">

    <div class="modal fade" style="margin-top:15rem;" id="removeEventModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 60%">
                <div class="modal-body" id="removeEventBody">
                    @await Html.PartialAsync("~/Views/Event/_RemoveEventPartial.cshtml", new RemoveEventViewModel())
                </div>
            </div>
        </div>
    </div>
</form>