/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --custom: #42BF25;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-container {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--custom);
    background-color: hsl(120, 100%, 95%);
}

.page-title {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px;
    color: white;
    background-color: var(--custom);
    background-color: hsl(100, 175%, 6%);
}

.navbar-toggler-icon {
    font-size: 23px;
}

.bg-menu {
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    background-color: var(--custom);
    background-color: hsl(120, 100%, 30%);
}

.logout-button {
    background-color: hsl(100, 175%, 20%);
    min-width: 80px;
}

div.card .event-date {
    background-color: red;
    border-radius: 0px 4px 16px 4px;
    text-align: center;
    padding: 8px;
}

div.card .event-category {
    background-color: black;
    border-radius: 4px 0px 4px 16px;
    text-align: center;
    padding: 8px;
}

.filter-icons {
    width: 5rem;
    height: 5rem;
}

.filter-text {
    font-size: smaller;
    text-align: center;
    font-weight: 500;
}

.filter-box {
    margin-right: 14rem;
    margin-left: 14rem
}

.search-bar {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.profile-image {
    width: 10rem;
    height: 10rem;
}

hr {
    height: 0.05rem;
    background-color: black;
}

.hyper-link {
    font-weight: bold;
    font-size: 2rem;
}

div.card {
    --card-width: 17rem;
    width: var(--card-width);
    border: 0;
}

    div.card img {
        width: 100%;
        height: var(--card-width);
        object-fit: cover;
    }

    div.card .card-img-body .card-img-overlay {
        padding: 0rem;
        height: var(--card-width);
        opacity: 1;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }

        div.card .card-img-body:hover .details-text {
            opacity: 1;
            padding: 1rem;
        }

        div.card .card-img-body .details-text {
            opacity: 0;
        }

        div.card .card-img-body .details-date {
            opacity: 1;
        }

        div.card .card-img-body:hover .card-img-overlay {
            opacity: 1;
            transition: .3s ease;
            background-color: #008CBA;
        }

    div.card .card-body {
        padding: 0.625rem;
        padding-top: 0.25rem;
    }

@media (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}

.card-img-parent {
    height: 50%;
}

#detailsModal .modal-dialog {
    min-width: 1000px;
}

#detailsModal #detailsBody .image-container {
    float: left;
    max-width: 50%;
}

    #detailsModal #detailsBody .image-container img {
        width: 100%;
        height: auto;
    }

    #detailsModal #detailsBody .image-container .organizer-image img {
        margin-top: -0.5rem;
        object-fit: cover;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

#detailsModal #detailsBody .details-container {
    float: right;
    max-width: 50%;
    overflow-x: hidden;
}

    #detailsModal #detailsBody .details-container {
        font-size: 1rem;
        font-weight: 600;
    }

#detailsModal .organizer {
    margin-top: 1rem;
    min-height: 7.5rem;
    background-color: lightgrey;
    line-height: 0.9rem;
    font-size: 1rem;
}

    #detailsModal .organizer .organizer-title {
        font-weight: 600;
        text-align: center;
        font-size: 18px;
        padding: 0.5rem;
    }

    #detailsModal .organizer .organizer-image {
        float: left;
        margin: 0rem 1rem 0 1rem;
    }

    #detailsModal .organizer .organizer-info {
        margin-right: 1rem;
    }

.comment {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

    .comment .form-comment-avatar {
        position: absolute;
        top: 10%;
        margin-left: 1.5%;
        width: 5rem;
        height: auto;
        border-radius: 50%;
    }

    .comment .comment-avatar {
        position: absolute;
        top: 40%;
        width: 3rem;
        height: auto;
        border-radius: 50%;
    }

    .comment .comment-author {
        margin-bottom: 5px;
        padding-left: 3rem;
        padding-right: 20px;
        font-size: 1rem;
        font-weight: bold;
    }

    .comment .comment-date {
        float: right;
        margin-top: 5px;
        font-size: 12px;
        color: #bdc3c7;
    }

    .comment .comment-reply {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 15px;
    }

    .comment .comment-text {
        padding: 0.8rem;
        padding-left: 6%;
        background-color: #f8f8f8;
        border-bottom: 5px solid #e5e6e6;
    }

        .comment .comment-text textarea {
            margin-left: 3rem;
            resize: none;
            width: 80%;
            float: left;
            min-height: 4rem;
        }

    .comment .comment-button {
        margin: 0.8rem;
    }

div.container .form-check-label {
    margin-top: 0.5rem;
}

div.container input[type=checkbox] {
    width: 2rem;
    height: 2rem;
    margin-left: 5rem;
}

div.container .form-title {
    font-size: 1.1rem;
    font-weight: 500;
}

div.container .form-event-description {
    height: 5.2rem;
    min-height: 5.2rem;
    max-height: 20rem;
}

div.modal .event-edit-form {
    min-width: 60rem;
}
