@using Eventive.Models.Users;
@{
    ViewData["Title"] = "Profile";
}

<div class="mt-4">
    <div id="profileContainer"></div>

    <hr />

    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" onclick="loadCreatedEvents()">Created Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="loadAppliedEvents()">Applied Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="loadFollowingEvents()">Following Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" onclick="loadPastEvents()">Past Events</a>
        </li>
    </ul>
</div>

<div id="eventsContainer"></div>

<form enctype="multipart/form-data" method="post" asp-controller="Profile" asp-action="EditProfile"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="updateProfileComplete('#editProfileModal')"
      data-ajax-mode="replace"
      data-ajax-update="#editProfileBody">

    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileTitle">Edit your profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="editProfileBody">
                    @await Html.PartialAsync("~/Views/Profile/_EditProfilePartial.cshtml", new EditProfileViewModel())
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ScriptsPartial" />

    <script>
        $(document).ready(function () {
            loadProfile();
            loadCreatedEvents();
        });

        function loadProfile() {
            loadServerPartialView("#profileContainer", '@Url.Action("GetProfile", "Profile")');
        }

        function LoadEditProfile(Id) {
            loadServerPartialView("#editProfileBody", '@Url.Action("EditProfile", "Profile")' + "/" + Id);
        }

        function modalFormComplete(modalName) {
            $(modalName).modal("hide");
            loadCreatedEvents();
        }

        function updateProfileComplete(modalName) {
            $(modalName).modal("hide");
            loadProfile();
        }
    </script>
}