@using PAWEventive.Models.Events;
@using PAWEventive.ApplicationLogic.DataModel;
@model NewEventViewModel;
@{
    ViewData["Title"] = "NewEvent";
}

<h1>New Event</h1>

@if (Model.CreationStatus == NewEventStatus.NotInitiated)
{
    <input type="hidden" asp-for="CreatorId" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category"></label>
        <input asp-for="Category" asp-items="Html.GetEnumSelectList<EventCategory>()" class="form-control" />
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Deadline"></label>
        <input asp-for="Deadline" type="datetime" class="form-control" />
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" type="text" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EventImage"></label>
        <input asp-for="EventImage" type="image" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="MaximumParticipants"></label>
        <input asp-for="MaximumParticipants" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ParticipationFee"></label>
        <input asp-for="ParticipationFee" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="EventDescription"></label>
        <input asp-for="EventDescription" type="text" class="form-control" />
    </div>
}