@using PAWEventive.Models.Events;
@model EventListViewModel;
@{
    ViewData["Title"] = "Events";
}

<div class="d-flex justify-content-around active-cyan-3 active-cyan-2 mt-4">
    <input id="searchTitleBar" class="form-control col-4 m-4" type="text" placeholder="Search by name" aria-label="Search">
    <input id="searchLocationBar" class="form-control col-4 m-4" type="text" placeholder="Search by location" aria-label="Search">

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <button class="btn btn-danger m-3" style="font-size:1.6rem; font-weight: 600" data-toggle="modal" data-target="#newEventModal">Create</button>
        </div>
    }
</div>

<form enctype="multipart/form-data" method="post" asp-controller="Event" asp-action="NewEvent"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#newEventBody">

    <div class="modal fade" id="newEventModal" tabindex="-1" aria-labelledby="newEventTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 70%">
                <div class="modal-header">
                    <h5 class="modal-title" id="newEventTitle">Create a new event!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="newEventBody">
                    <partial name="_AddEventPartial" model="new NewEventViewModel()" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="d-flex justify-content-around filter-box">
        <div>
            <div class="img-thumbnail m-1">
                <img src="/images/hangout.png" alt="Hangouts" class="filter-icons">
            </div>
            <div class="filter-text">Hangouts</div>
        </div>
        <div>
            <div class="img-thumbnail m-1">
                <img src="/images/education.png" alt="Education" class="filter-icons">
            </div>
            <div class="filter-text">Education</div>
        </div>
        <div>
            <div class="img-thumbnail m-1">
                <img src="/images/entertainment.png" alt="Entertainment" class="filter-icons">
            </div>
            <div class="filter-text">Entertainment</div>
        </div>
        <div>
            <div class="img-thumbnail m-1">
                <img src="/images/network.png" alt="Network" class="filter-icons">
            </div>
            <div class="filter-text">Network</div>
        </div>
        <div>
            <div class="img-thumbnail m-1">
                <img src="/images/other.png" alt="Other" class="filter-icons">
            </div>
            <div class="filter-text">Other</div>
        </div>
    </div>
</div>

<hr />

<partial name="_EventContainerPartial" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    @*
        <script>
            $(document).ready(function () {
                $("#searchBar").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#toSearch .card").filter(function () {
                        $(this).toggle($(this).find('.event-category').text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    *@

    <script>
        $(document).ready(function () {
            $("#searchTitleBar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#toSearch .card").filter(function () {
                    $(this).toggle($(this).find('.title').text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#searchLocationBar").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#toSearch .card").filter(function () {
                    $(this).toggle($(this).find('.location').text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}